#headline{
    font-weight: bolder;
    font-style: arial;
}

#author{
    color: #30AFE6;
}

.photo-caption{
    font-size: smaller;
}

.banner{
    background-image: url(img/pattern.png);
    background-color: #4EA0FF;
    height: 175px;
}

.logo{
    background-image: url(img/logo.svg);
    background-color: transparent;
    height: 150px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: bottom left;
}